/* Estilos gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  display: block;
}

footer {
  color: white;
  width: 100%;
  height: 200px;
  background-color: #000;
}

.button {
  padding: 10px 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FEC63E;
  letter-spacing: .1em;
  line-height: 20px;
  font-size: 14px;
  border: 3px solid #FEC63E;
  transition: .3s;
}

.qualidade .button {
  padding: 10px 50px;
}

.call-to-action .button {
  margin: 0px auto;
  display: inline-block;
  font-weight: bold;
}

.call-to-action .button.button-black:hover {
  color: #000;
  border-color: #000;
}


/* Header */
.header {
  width: 100%;
  height: 80px;
  padding: 10px 0;
  background-color: #FEC63E;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 22px;
}

.header_menu li a {
  color: #000;
  font-size: 0.9em;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 10px 0;
  transition: ease-out .3s;
}

.header_menu li a:hover {
  color: #fff;
}

/* Indrodução */

.introducao {
  text-align: center;
  width: 100%;
  height: 380px;
  margin-top: 80px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/bgs/bg-intro.jpg');  
}

.introducao h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-top: 80px;
}

.quote-externo {
  width: 280px;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  color: #fff;
  margin: 20px auto 40px;
}

.quote-externo p:before, .quote-externo p:after {
  content: " ";
  display: block;
  width: 80px;
  height: 3px;
  margin: 14px auto 10px auto;
  background-color: #fff;
}

.quote-externo cite {
  font-weight: bold;
  font-style: normal;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.button:hover {
  color: #FFF;
  border-color: #FFF;
}


/* seção produtos */

.secao-produtos {
  padding: 60px 0;
}

.quote-subtitulo {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
}

.quote-subtitulo h2 {
  font-weight: bold;
}

.quote-subtitulo h2:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 15px auto;
  background-color: #000;
}

.produtos_lista {
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  height: 306px;
  background-color: #000;
}

.card a {
  color: #000;
}

.card .passeio-icon {
  width: 100%;
  height: 207px;
  background: url('../img/produtos/icones/passeio.svg') no-repeat center;
}

.card .passeio-desc {
  width: 100%;
  height: 100px;
  background-color: #FEC63E;
}

.card .passeio-desc h3 {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 0 0;
}

.card .passeio-desc h3:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin: 5px auto;
  background-color: #000;
}

.card .passeio-desc p {
  max-width: 220px;
  margin: auto;
  text-align: center;
}

.card .esporte-icon {
  width: 100%;
  height: 207px;
  background: url('../img/produtos/icones/esporte.svg') no-repeat center;
}

.card .retro-icon {
  width: 100%;
  height: 207px;
  background: url('../img/produtos/icones/retro.svg') no-repeat center;
}

.call-to-action {
  text-align: center;
  padding: 40px 0;
  margin-top: 40px;
  margin-bottom: 40px;
  clear: both;
}

.call-to-action .desc {
  display: block;
  margin-bottom: 20px;
}


/* Portfólio */

.secao-black {
  width: 100%;
  color: white;
  background-color: black;
}

.secao-black .quote-subtitulo h2 {
  color: #FEC63E;
}

.secao-black .quote-subtitulo h2:after {
  background-color: #FEC63E;
}

.galeria {
  margin: 40px auto;
}

.image3 {
  margin-top: 15px;
}

/* Qualidade */

.qualidade {
  padding: 60px 0px;
  text-align: center;
}

.qualidade img {
  margin: 0 auto;
}

.qualidade:after {
  content: "";
  width: 734px;
  height: 83px;
  display: block;
  background: url("../img/linhas.png") no-repeat center;

  position: absolute;
  top: 288px;
  left: 115px;
  z-index: -1;
}

.qualidades_lista {
  margin: 50px 0;
}

.qualidades_lista h3 {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 10px 0 0 0;
}

.qualidades_lista h3:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin: 10px auto;
  background-color: #000;
}

.qualidades_lista p {
  max-width: 220px;
  margin: auto;
  text-align: center;
}



.quote-footer {
  width: 100%;
  height: 250px;
  text-align: center;
  background: url('../img/bgs/bg-footer1.jpg') no-repeat center;
  background-size: cover;
}

.quote-footer blockquote {
  padding: 60px 0;
}

/* footer */

footer h3 {
  font-size: 18px;
  line-height: 24px;
  color:#FEC63E;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 0 0;
}

footer h3:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin: 5px 0 10px;
  background-color: #FEC63E;
}

footer .historia, 
footer .contato, 
footer .redes-sociais {
  padding: 20px 0px;
}

footer .historia p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer .contato ul {
  list-style-type: square;
  padding: 0px 20px;
}

footer .contato ul li {
  margin: 5px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer .redes-sociais li {
  display: inline-block;
  width: 60px;
  padding: 25px;
  margin: 5px 5px 5px 0;
  text-align: center;
  border: 4px solid #FEC63E;
  cursor: pointer;
  transition: ease-in-out .2s; 
}

.facebook:hover, 
.instagram:hover,
 .twitter:hover {
  background-color: #fff;
}

.facebook {
  background: url(../img/redes-sociais/facebook.svg) no-repeat center;
}

.instagram {
  background: url(../img/redes-sociais/instagram.svg) no-repeat center;
}

.twitter {
  background: url(../img/redes-sociais/twitter.svg) no-repeat center;
}



.direitos {
  width: 100%;
  color: #000;
  background: #FEC63E;

  padding: 20px 0;

  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
















/* Pagina Sobre */

.sobres {
  padding: 80px 0 50px;
}

.bg-intro {
  text-align: center;
  height: 160px;
  margin-top: 80px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sobre-img {
  background-image: url('../img/bgs/bg-sobre.jpg');  
}

.produtos-img {
  background-image: url('../img/bgs/bg-produtos.jpg');  
}

.portfolio-img {
  background-image: url('../img/bgs/bg-portfolio.jpg');  
}

.contato-img {
  background-image: url('../img/bgs/bg-contato.jpg');  
}
/*
.sobre-img {
  background-image: url('../img/bgs/bg-sobre.jpg');  
}*/

.bg-intro h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
}

.quote-intro {
  width: 280px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sobre-1 h2,
.sobre-2 h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
}

.sobre-1 h2:after,
.sobre-2 h2:after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background-color: #000;
  margin: 5px 0 20px;
}

.sobre-1 p {
  font-size: 18px;
  margin-top: 10px;
  line-height: 24px;
}

.sobre-2 {
  margin-left: 50px;
}

.sobre-2 ul {
  margin-left: 15px;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sobre-2 ul li {
  margin-top: 10px;
  list-style-type: square;
}

section img {
  margin: 10px 0 10px;
}

.qualidade-sobre {
  margin-bottom: 150px;
  position: relative;
}

.qualidade-sobre:after {
  content: "";
    width: 734px;
    height: 83px;
    display: block;
    background: url(../img/linhas.png) no-repeat center;
    position: absolute;
    top: 280px;
    left: 115px;
    z-index: -1;
}

.qualidade-sobre .quote-subtitulo {
  margin: 10px 0 57px;
}

