/* Estilos gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.button {
  padding: 10px 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FEC63E;
  letter-spacing: .1em;
  line-height: 20px;
  font-size: 14px;
  border: 3px solid #FEC63E;
  transition: .3s;
}

/* Header */
.header {
  width: 100%;
  height: 80px;
  padding: 10px 0;
  background-color: #FEC63E;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 22px;
}

.header_menu li a {
  color: #000;
  font-size: 0.9em;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 10px 0;
  transition: ease-out .3s;
}

.header_menu li a:hover {
  color: #fff;
}

/* Indrodução */

.introducao {
  text-align: center;
  width: 100%;
  height: 380px;
  margin-top: 80px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/bgs/bg-intro.jpg');  
}

.introducao h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-top: 80px;
}

.quote-externo {
  width: 280px;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  color: #fff;
  margin: 40px auto;
}

.quote-externo p:before, .quote-externo p:after {
  content: " ";
  display: block;
  width: 80px;
  height: 3px;
  margin: 14px auto 10px auto;
  background-color: #fff;
}

.quote-externo cite {
  font-weight: bold;
  font-style: normal;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.button:hover {
  color: #FFF;
  border-color: #FFF;
}


/* seção produtos */

.quote-subtitulo {
  font-size: 24px;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
}

.quote-subtitulo h2 {
  font-weight: bold;
}

.quote-subtitulo h2:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 15px auto;
  background-color: #000;
}

.cards {
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  height: 306px;
  background-color: #000;
}

.card .passeio-icon {
  width: 100%;
  height: 207px;
  background: url('../img/produtos/icones/passeio.svg') no-repeat center;
}

.card .passeio-desc {
  width: 100%;
  height: 100px;
  background-color: #FEC63E;
}

.card .passeio-desc h2 {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 0 0;
}

.card .passeio-desc h2:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin: 5px auto;
  background-color: #000;
}

.card .passeio-desc p {
  max-width: 180px;
  margin: auto;
}

.card .esporte-icon {
  width: 100%;
  height: 207px;
  background: url('../img/produtos/icones/esporte.svg') no-repeat center;
}

.card .retro-icon {
  width: 100%;
  height: 207px;
  background: url('../img/produtos/icones/retro.svg') no-repeat center;
}









.quote-saiba-mais {
  text-align: center;
  padding: 40px 0;
  clear: both;
}

.quote-saiba-mais .desc {
  display: block;
  margin-bottom: 40px;
}

.quote-saiba-mais .button {
  margin: 20px auto;
  font-weight: bold;
}

.quote-saiba-mais a:hover.button-black {
  color: #000;
  border-color: #000;
}




















/* Pagina Sobre */

.bg-intro {
  text-align: center;
  height: 160px;
  margin-top: 80px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sobre-img {
  background-image: url('../img/bgs/bg-sobre.jpg');  
}

.produtos-img {
  background-image: url('../img/bgs/bg-produtos.jpg');  
}

.portfolio-img {
  background-image: url('../img/bgs/bg-portfolio.jpg');  
}

.contato-img {
  background-image: url('../img/bgs/bg-contato.jpg');  
}
/*
.sobre-img {
  background-image: url('../img/bgs/bg-sobre.jpg');  
}*/

.bg-intro h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
}

.quote-intro {
  width: 280px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}