/* Estilos gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  display: block;
  max-width: 100%;
}

footer {
  color: white;
  width: 100%;
  background-color: #000;
}

form {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px;
}

input, textarea {
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 20px;
  display: block;
  font-size: 18px;
  color: white;
  border: 3px solid #FEC63E;
}

input:focus, textarea:focus {
  outline: 1px solid #fff;
}

.button {
  padding: 10px 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FEC63E;
  letter-spacing: .1em;
  line-height: 20px;
  font-size: 14px;
  border: 3px solid #FEC63E;
  transition: .3s;
}

.qualidade .button {
  padding: 10px 50px;
}

.button {
  margin: 0px auto;
  display: inline-block;
  font-weight: bold;
}

.button.button-black:hover {
  color: #000;
  border-color: #000;
}


/* Header */
.header {
  width: 100%;
  height: 80px;
  padding: 10px 0;
  background-color: #FEC63E;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 22px;
}

.header_menu li a {
  color: #000;
  font-size: 0.9em;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 10px 0;
  transition: ease-out .3s;
}

.header_menu li a:hover {
  color: #fff;
}

.header_menu ul li a.menu_ativo {
  color: #fff;
}

/* Indrodução */

.introducao {
  text-align: center;
  width: 100%;
  height: 380px;
  margin-top: 80px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/bgs/bg-intro.jpg');  
}

.introducao h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-top: 80px;
}

.quote-externo {
  width: 280px;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  color: #fff;
  margin: 20px auto 40px;
}

.quote-externo p:before, .quote-externo p:after {
  content: " ";
  display: block;
  width: 80px;
  height: 3px;
  margin: 14px auto 10px auto;
  background-color: #fff;
}

.quote-externo cite {
  font-weight: bold;
  font-style: normal;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.button:hover {
  color: #FFF;
  border-color: #FFF;
}


/* seção produtos */

.secao-produtos {
  padding: 60px 0;
}

.quote-subtitulo {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
}

.quote-subtitulo h2 {
  font-weight: bold;
}

.quote-subtitulo h2:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 15px auto;
  background-color: #000;
}

.produtos_lista {
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  height: 306px;
  background-color: #000;
}

.card a {
  color: #000;
}

.card .passeio-icon {
  width: 100%;
  height: 207px;
  background: url('../img/produtos/icones/passeio.svg') no-repeat center;
}

.card .passeio-desc {
  width: 100%;
  height: 100px;
  background-color: #FEC63E;
}

.card .passeio-desc h3 {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 0 0;
}

.card .passeio-desc h3:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin: 5px auto;
  background-color: #000;
}

.card .passeio-desc p {
  max-width: 220px;
  margin: auto;
  text-align: center;
}

.card .esporte-icon {
  width: 100%;
  height: 207px;
  background: url('../img/produtos/icones/esporte.svg') no-repeat center;
}

.card .retro-icon {
  width: 100%;
  height: 207px;
  background: url('../img/produtos/icones/retro.svg') no-repeat center;
}

.call-to-action {
  text-align: center;
  padding: 40px 0;
  margin-top: 40px;
  margin-bottom: 40px;
  clear: both;
}

.call-to-action .desc {
  display: block;
  margin-bottom: 20px;
}


/* Portfólio */

.secao-black {
  width: 100%;
  color: white;
  background-color: black;
}

.secao-black .quote-subtitulo h2 {
  color: #FEC63E;
}

.secao-black .quote-subtitulo h2:after {
  background-color: #FEC63E;
}

.galeria {
  margin: 40px auto;
}

.image3 {
  margin-top: 15px;
}

/* Qualidade */

.qualidade {
  padding: 60px 0px;
  text-align: center;
}

.qualidade img {
  margin: 0 auto;
}

.qualidade:after {
  content: "";
  width: 734px;
  height: 83px;
  display: block;
  background: url("../img/linhas.png") no-repeat center;

  position: absolute;
  top: 288px;
  left: 115px;
  z-index: -1;
}

.qualidades_lista {
  margin: 50px 0;
}

.qualidades_lista h3 {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 10px 0 0 0;
}

.qualidades_lista h3:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin: 10px auto;
  background-color: #000;
}

.qualidades_lista p {
  max-width: 220px;
  margin: auto;
  text-align: center;
}



.quote-footer {
  width: 100%;
  height: 250px;
  text-align: center;
  background: url('../img/bgs/bg-footer1.jpg') no-repeat center;
  background-size: cover;
}

.quote-footer blockquote {
  padding: 60px 0;
}

/* footer */

footer h3 {
  font-size: 18px;
  line-height: 24px;
  color:#FEC63E;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 0 0;
}

footer h3:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin: 5px 0 10px;
  background-color: #FEC63E;
}

footer .historia, 
footer .contato, 
footer .redes-sociais {
  padding: 20px 0px;
}

footer .historia p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer .contato ul {
  list-style-type: square;
  padding: 0px 20px;
}

footer .contato ul li {
  margin: 5px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer .redes-sociais li {
  display: inline-block;
  width: 60px;
  padding: 25px;
  margin: 5px 5px 5px 0;
  text-align: center;
  border: 4px solid #FEC63E;
  cursor: pointer;
  transition: ease-in-out .2s; 
}

.facebook:hover, 
.instagram:hover,
 .twitter:hover {
  background-color: #fff;
}

.facebook {
  background: url(../img/redes-sociais/facebook.svg) no-repeat center;
}

.instagram {
  background: url(../img/redes-sociais/instagram.svg) no-repeat center;
}

.twitter {
  background: url(../img/redes-sociais/twitter.svg) no-repeat center;
}



.direitos {
  width: 100%;
  color: #000;
  background: #FEC63E;

  padding: 20px 0;

  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
















/* Pagina Sobre */

.sobres {
  padding: 80px 0 50px;
}

.bg-intro {
  text-align: center;
  height: 160px;
  margin-top: 80px;
  background-position: top center;
  background-repeat: no-repeat;
}
.sobre-img {
  background-image: url('../img/bgs/bg-sobre.jpg');  
  background-size: cover;
}

.produtos-img {
  background-image: url('../img/bgs/bg-produtos.jpg');
  background-size: cover;
}

.portfolio-img {
  background-image: url('../img/bgs/bg-portfolio.jpg');
  background-size: cover;
}

.contato-img {
  background-image: url('../img/bgs/bg-contato.jpg');
  background-size: cover;
}

.bg-intro h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
}

.quote-intro {
  width: 280px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sobre-1 h2,
.sobre-2 h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
}

.sobre-1 h2:after,
.sobre-2 h2:after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background-color: #000;
  margin: 5px 0 20px;
}

.sobre-1 p {
  font-size: 18px;
  margin-top: 10px;
  line-height: 25px;
}

.sobre-2 ul {
  margin-left: 20px;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sobre-2 ul li {
  margin-top: 10px;
  list-style-type: square;
}

section img {
  margin: 10px 0 10px;
}

.qualidade-sobre {
  margin-bottom: 150px;
  position: relative;
}

.qualidade-sobre:after {
  content: "";
    width: 734px;
    height: 83px;
    display: block;
    background: url(../img/linhas.png) no-repeat center;
    position: absolute;
    top: 280px;
    left: 115px;
    z-index: -1;
}

.qualidade-sobre .quote-subtitulo {
  margin: 10px 0 57px;
}




/* PAGINA PRODUTOS */

.passeios {
  padding: 60px 0 0;
}

.passeio-img-1 {
  background: url('../img/passeio.jpg') no-repeat bottom center;
  background-size: cover;
  height: 280px;
  text-align: center;
}

.passeio-img-1 h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

  padding-top: 100px;
}

.passeio-img-1 h2:before, .passeio-img-1 h2:after {
  content: " ";
  display: block;
  width: 80px;
  height: 3px;
  margin: 14px auto 10px auto;
  background-color: #fff;
}

.passeio-icon {
  height: 280px;
  background: #000 url('../img/produtos/icones/passeio.svg') no-repeat center; 
}

.passeios .passeio-desc {
  height:280px;
  margin-top: 10px;
  color: #fff;
  background: #000;
}

.passeios .passeio-desc p {
  font-size: 18px;
  line-height: 25px;
  padding: 15px 30px 0px;
}

.passeios .passeio-desc p:nth-child(2) {
  padding-bottom: 25px;
}

.desc-passeio {
  width: 100%;
  margin: 0;
  text-transform: uppercase;
}

.desc-1 {
  width: 230px;
  height: 50px;
  background-color: #FEC63E;
  text-align: center;
  font-weight: bold;
  padding: 15px 0 0;
  margin-left: 0px;
  margin-right: 0px;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

.desc-2 {
  width: 230px;
  height: 50px;
  background-color: #FEC63E;
  text-align: center;
  font-weight: bold;  
  color: #000;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0 0;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 2px solid #000;
}

.desc-3 {
  width: 230px;
  height: 50px;
  background-color: #FEC63E;
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0 0;
  margin-left: 0px;
  margin-right: 0px;
  border-top: 2px solid #000;
}

.desc-4 {
  width: 230px;
  height: 50px;
  background-color: #FEC63E;
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0 0;
  margin-left: 0px;
  margin-right: 0px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.quote-produtos {
  background: url('../img/bgs/bg-footer2.jpg') no-repeat center;
  background-size: cover;
}

.esporte-img-1 {
  background: url('../img/foto-titulo-1.png') no-repeat bottom center;
  background-size: cover;
  height: 280px;
  text-align: center;
}

.esporte-img-1 h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

  padding-top: 100px;
}

.esporte-img-1 h2:before, .esporte-img-1 h2:after {
  content: " ";
  display: block;
  width: 80px;
  height: 3px;
  margin: 14px auto 10px auto;
  background-color: #fff;
}

.esporte-icon {
  height: 280px;
  background: #000 url('../img/produtos/icones/esporte.svg') no-repeat center; 
}


.retro-img-1 {
  background: url('../img/retro-2.jpg') no-repeat bottom center;
  background-size: cover;
  height: 280px;
  text-align: center;
}

.retro-img-1 h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

  padding-top: 100px;
}

.retro-img-1 h2:before, .retro-img-1 h2:after {
  content: " ";
  display: block;
  width: 80px;
  height: 3px;
  margin: 14px auto 10px auto;
  background-color: #fff;
}

.retro-icon {
  height: 280px;
  background: #000 url('../img/produtos/icones/retro.svg') no-repeat center; 
}

.orcamento-form {
  width: 100%;
  background: #000;
  color: #fff;
  margin-top: 60px;
  padding: 0px 0 60px
}

.orcamento-form .quote-subtitulo {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
}

.orcamento-form .quote-subtitulo h2 {
  font-weight: bold;
  color: #FEC63E;
}

.orcamento-form .quote-subtitulo h2:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 15px auto;
  background-color: #FEC63E;
}

.orcamento-form fieldset {
  margin-top: 20px;
  border: 0px solid #FEC63E;
}

.orcamento-form form {
  padding: 20px;  
}

.orcamento-form form input, .orcamento-form form textarea {
  background-color: #000;
}

.orcamento-form .button {
  cursor: pointer;
  width: 50%;
}

.quote-produtos {
  height: 280px;
}

.quote-produtos .quote-externo {
  margin: 0px auto 40px;
}

.quote-produtos blockquote {
  padding: 80px 0;
}

.dados, .opcoes, .info-form .redes-sociais {
  margin: 45px 0px 45px 40px;
}

.dados h2 {
  font-size: 18px;
  line-height: 24px;
  color:#FEC63E;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px 0 20px 0;
}

.dados p {
  padding: 0 10px 10px 0
}


.opcoes h2 {
  font-size: 18px;
  line-height: 24px;
  color:#FEC63E;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px 0 20px 0;
}

.opcoes small {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0 10px 10px 0;
  display: inline-block;
  font-size: 14px;
}

.opcoes ul li {
  padding: 10px;
  font-size: 14px;
}

.opcoes ul li:nth-child(odd) {
  background-color: #292929;
}


/* PAGINA PORTFOLIO */

.quote-port-into {
  text-align: center;
}

.quote-port-into .quote-externo {
  width: 420px;
  color: #000;
}

.quote-port-into .quote-externo p{
  font-size: 18px;
  line-height: 24px;
  width: 430px
}

.portfolio {
  padding: 60px 0;
  background: #000;
}


.quote-portfolio blockquote {
  padding:70px 0;
}

.quote-portfolio .quote-externo {
  margin: 0px auto 40px;
}

.quote-portfolio {
  height: 280px;
  background: url("../img/bgs/bg-footer3.jpg") no-repeat center;
  background-size: cover;
}



/* PAGINA DE CONTATO */

.contato-form {
  padding: 60px 0;
}

.contato-form input, .contato-form textarea {
  color:#000;
}

.contato-form .button {
  cursor: pointer;
  width: 50%;
  background: none;
  color:#FEC63E;
}

.contato-form .button:hover {
  color: #000;
  border: 3px solid #000
}

.redes-sociais h2 {
  font-size: 18px;
  line-height: 24px;
  color:#FEC63E;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px 0 20px 0;
}

.redes-sociais li {
  display: inline-block;
  width: 60px;
  padding: 25px;
  margin: 5px 5px 5px 0;
  text-align: center;
  border: 4px solid #FEC63E;
  cursor: pointer;
  transition: ease-in-out .2s; 
}

.contato-form .facebook:hover, 
.contato-form .instagram:hover,
.contato-form .twitter:hover {
  background-color: #000;
}

.map {
  padding: 0px 0 50px;
}























/* Estilos para tablet */
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .logo img {
    height: auto;
  }
  
  /* Qualidade */
  .qualidade:after {
    display: none;
  }

  /* footer */
  .footer {
    height: auto;  
  }

  footer .contato ul {
    padding: 0px 0px;
  }

  footer .redes-sociais li {
    width: 30px;
    padding: 18px;
  }

  /* pagina produto */
  
  .passeios .passeio-desc {
    height:200px;
    margin-top: 7px;
  }

  .passeios .passeio-desc p {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 30px 0px;
  }

  .desc-1 {
    width: 182px;
    height: 40px;
    padding: 10px 0 0;
  }
  
  .desc-2 {
    width: 182px;
    height: 40px;
    padding: 10px 0 0;
  }
  
  .desc-3 {
    width: 182px;
    height: 40px;
    padding: 10px 0 0;
  }
  
  .desc-4 {
    width: 182px;
    height: 40px;
    padding: 10px 0 0;
  }

  .orcamento-form .button {
    cursor: pointer;
    width: 60%;
  }
  
}

/* Estilos para smartphones */
@media only screen and (max-width: 787px) {
  .header {
    height: auto;
    position: relative;
    padding-bottom: 0;
  }

  .logo img {
    height: 150px;
    margin: 0 auto;
  }

  .header_menu {
    text-align: center;
  }

  .header_menu ul li {
    margin-left: 0;
  }

  .header_menu li a {
    border: 4px solid #000;
    width: 140px;
    display: block;
    float: left;
  }

  .header_menu li a:hover {
    border-color: #fff;
  }

  /* introdução */
  .introducao {
    height: 450px;
    margin-top: 0;
    background: url('../img/bg-intro-mobile.jpg') no-repeat center;
    background-size: cover;
  }

  .introducao h1 {
    padding-top: 10px;
    font-size: 36px;
  }

  /* Qualidade */
  .qualidade:after {
    display: none;
  }

  /* call */
  .call-to-action {
    margin-top: 20px;
    padding: 20px 0;
  }
  

  /* footer */
  .footer {
    height: auto;  
  }

  /* Pagina sobre */
  .bg-intro {
    margin-top: 0;
  }

  .qualidade-sobre {
    margin-bottom: 0px
  }

  /* pagina produtos */

  .passeios .passeio-desc {
    height:325px;
    margin-top: 0px;
  }

  .passeios .passeio-desc p {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px 0px;
  }

  .desc-1 {
    width: 100%;
    height: 40px;
    padding: 10px 0 0;
    margin: 5px 0;
  }
  
  .desc-2 {
    width: 100%;
    height: 40px;
    padding: 10px 0 0;
    border-left: 0;
    margin: 5px 0;
  }
  
  .desc-3 {
    width: 100%;
    height: 40px;
    border-top: 0;
    padding: 10px 0 0;
    margin: 5px 0;
  }
  
  .desc-4 {
    width: 100%;
    height: 40px;
    padding: 10px 0 0;
    border-left: 0;
    border-top: 0;
    margin: 5px 0;
  }

  .orcamento-form .button {
    cursor: pointer;
    width: 70%;
  }
}

